<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CollaboratePro</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/accueil">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/fichier">Fichiers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/chat">Discussion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/connexion">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inscription">Inscription</a>
        </li>


      </ul>


    </div>
  </div>
</nav>
<router-outlet></router-outlet>


