<section class="home">
  <img src="../../assets/cherrydeck-rMILC1PIwM0-unsplash.jpg" alt="">
  <div class="homecontent">
    <h2>Boostez votre productivité avec CollaboratePro</h2>
    <a href="#" class="btn btn-lg btn-light" routerLink="/about">À propos de nous</a> &nbsp;
    <a href="#" class="btn btn-lg btn-primary" routerLink="/inscription">Rejoindre</a>
  </div>
</section>
<!-- Triade de Collaboration -->
<section class="collab">
  <h1>Triade de Collaboration</h1>
  <p>Notre Triade de Collaboration incarne notre engagement envers l'innovation,l'échange d'idées et la réussite
    partagée.</p>
  <div class="row">
    <div class="offer-col">
      <h3>Innovation</h3>
      <p>L'innovation est le moteur qui nous pousse à repousser les limites de ce qui est possible
        , elle nous permet de créer un avenir meilleur.
      </p>
    </div>
    <div class="offer-col">
      <h3>Échange d'idées</h3>
      <p>L'échange d'idées nourrit notre créativité et ouvre la voie à de nouvelles perspectives
        , renforçant ainsi notre capacité à résoudre les problèmes complexes.
      </p>
    </div>
    <div class="offer-col">
      <h3>Partenariat</h3>
      <p>Les partenariats solides sont la clé pour transformer nos idées innovantes en réalité tangible
        , ils élargissent notre impact et nous permettent de réaliser des changements significatifs.
      </p>
    </div>
  </div>
</section>
<!--campus-->
<section class="campus">
  <h1>Notre Campus Collaboratif Mondial</h1>
  <p>Notre Campus Mondial : une fusion d'idées et de talents venant du monde entier, pour un avenir collaboratif et innovant.</p>
   <div class="row">
    <div class="campus-col">
      <img src="../../assets/ggroup.jpg">
      <div class="layer">
        <h3>Réunion</h3>
      </div>
    </div>
    <div class="campus-col">
      <img src="../../assets/brainstorming.jpg">
      <div class="layer">
        <h3>Brainstorming</h3>
      </div>
    </div>
    <div class="campus-col">
      <img src="../../assets/linkedin-sales-solutions-0QvTyp0gH3A-unsplash.jpg">
      <div class="layer">
        <h3>Collaboration Virtuelle</h3>
      </div>
    </div>
   </div>
</section>
<!-- testimonials -->
<section class="testimonials">
  <h1>Les avis de nos utilisateurs</h1>
  <p>Laissez-vous inspirer par les témoignages de nos clients satisfaits.</p>
  <div class="row">
    <div class="testimonial-col">
      <img src="../../assets/user1.jpg">
      <div>
        <p>Depuis que nous utilisons CollaboratePro,
           la communication interne s'est considérablement améliorée.
            Nous sommes plus efficaces et mieux organisés.
        </p>
        <h3>Émilie Dubois</h3>
        <p class="etoiles"> &#9733;  &#9733;  &#9733;  &#9733;  &#9734;</p>
      </div>
    </div>
    <div class="testimonial-col">
      <img src="../../assets/user2.jpg">
      <div>
        <p>Je suis très satisfaite de cette entreprise.
          Leur équipe est incroyablement réactive et professionnelle.
          J'ai eu une expérience exceptionnelle avec eux et je les choisirais à nouveau sans hésiter.
        </p>
        <h3>Alice Dupont</h3>
        <p class="etoiles"> &#9733;  &#9733;  &#9733;  &#9733;  &#9734;</p>
      </div>
    </div>
  </div>
</section>

<section class="cta">
  <h1>Rejoignez notre communauté d'employés satisfaits <br> de CollaboratePro</h1>
  <a routerLink="/inscription" class="btn btn-danger">S'inscrire</a>
</section>
<!--footer-->
<footer class="text-center mt-2">
  <p>&copy; 2023 CollaboratePro.</p>
</footer>



